header {
  background: #28146d;
}

.header {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link {
  color: white;
  font-weight: 700;
  font-size: 1.9em;
}

.list {
  display: flex;
}

.list li {
  color: white;
  list-style-type: none;
  padding: 0.5em;
  font-weight: 600;
  font-size: 1.2em;
}

.list a {
  text-decoration: none;
  color: white;
}

.header .menuIcon {
  display: none;
}

.menuIcon {
  width: 35px;
  height: 25px;
  display: inline-block;
  position: relative;
  z-index: 10;

  background: transparent;
  border: none;
  cursor: pointer;
}

.menuIcon .bar {
  width: 100%;
  height: 5px;
  position: absolute;
  background: white;
  opacity: 1;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: all 0.3s ease-in-out;
}

.menuIcon .bar--menu-opened {
  background: transparent;
}

.menuIcon .bar::before,
.menuIcon .bar::after {
  width: 100%;
  height: 5px;
  position: absolute;
  background: white;

  content: "";
  left: 0;
}

.menuIcon .bar::before {
  top: -10px;
  transition: all 0.3s ease-in-out;
}

.menuIcon .bar--menu-opened::before {
  transform: rotate(45deg);
  top: 0px;
}

.menuIcon .bar::after {
  top: 10px;
  transition: all 0.3s ease-in-out;
}

.menuIcon .bar--menu-opened::after {
  transform: rotate(-45deg);
  top: 0px;
}

@media screen and (max-width: 700px) {
  .list {
    position: fixed;
    top: 0;
    background-color: #28146d;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
  }

  .list--opened {
    left: 0vw;
  }

  .list--closed {
    left: 100vw;
  }

  .header .menuIcon {
    display: block;
  }
}
